body {
    background-color: #0f1923;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.header {
    background: linear-gradient(90deg, #ff4655, #0f1923);
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-weight: bold;
}

.header p {
    margin: 0;
    opacity: 0.8;
}

/* TARJETAS */
.card-custom {
    background-color: #1c252e;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.card-custom h4 {
    margin-bottom: 15px;
}

/* CANVAS */
canvas {
    border: 2px solid #ff4655;
    border-radius: 8px;
    background-color: #000;
}

/* IMAGEN */
.card-custom img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #444;
}

/* FOOTER */
.footer {
    background-color: #0a0f14;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    opacity: 0.8;
}